@font-face {
    font-family: ff7;
    src: url(Final_Fantasy_VII.ttf);
}

body {
    background: black;
    font-family: "ff7";
}

#wrapper {
    margin: auto;
    color: white;
    font-size: 290%;
    height: 500px;
    width: 650px;
    border-style: ridge;
    border-width: thick;
    border-color: darkgray;
    border-radius: 5px;
    background: blue;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, blue, black);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, blue, black);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, blue, black);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(bottom right, blue, black);
}

#main_console {
    padding: 0px .5em .4em .5em;
    display: block;
}

#daily_console {
    display: none;
    height: 100%;
    width 100%;
}

#journal_console {
    display: none;
    height: 100%;
    width 100%;
}

#journal {
    border-style: ridge;
    border-width: thick;
    border-color: darkgray;
    border-radius: 2px;
    background: blue;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, blue, black);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, blue, black);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, blue, black);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(bottom right, blue, black);
    color: white;
    display: table;
    margin: 0 auto;
    font-family: "Verdana";
    padding: 10px;
}

#jbuttons {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: .4em;
}

.jBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-family: "Verdana";
    margin: 0px 30px 0px 30px;
    font-size: 50%;
}

#goals_console {
    display: none;
    height: 100%;
    width 100%;
    padding-right: 1em;
}

#goal_list {
    display: inline;
    float: left;
    background: blue;
    border-style: ridge;
    border-width: thick;
    border-color: darkgray;
    border-radius: 5px;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, blue, black);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, blue, black);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, blue, black);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(bottom right, blue, black);
    margin-left: 3.4em;
    color: white;
}

#goal_view {
    display: inline;
    float: right;
    background: blue;
    border-style: ridge;
    border-width: thick;
    border-color: darkgray;
    border-radius: 1px;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, blue, black);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, blue, black);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, blue, black);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(bottom right, blue, black);
    margin-left: 2em;
    vertical-align: top;
    color: white;
}

.gBtn {
    padding: 37px 20px 0px 72px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    float: right;
    font-size: 50%;
}

#todo_console {
    display: none;
    height: 100%;
    width 100%;
}

.backBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#avatar {
    width: 100px;
    height: 130px;
    display: inline;
    float: left;
    padding-top: 15px;
    padding-right: 15px;
}

#rank {
    width: 3%;
    position: absolute;
    padding-left: 1.4em;
    padding-top: .2em;

}

#clockbox {
    display: table;
    margin: auto;
    padding-bottom: .25em;
}

#leftdiv {
    float: left;
    width: 45%;
}

#rightdiv {
    float: right;
    display: inline-block;
    width: 50%;
    padding-top: 12px;
}

#menudiv {
    float: right;
    width: 48.5%;
    height: 50%;
    margin-top: 30px;
    border-style: ridge;
    border-width: thick;
    border-color: darkgray;
    border-radius: 5px;
    background: blue;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, blue, black);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, blue, black);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, blue, black);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(bottom right, blue, black);
}

#menu {
    width: 100%;
    padding-bottom: .3em;
}

.menuBtn {
    font-family: "ff7";
    font-size: 50px;
    color: white;
    background: transparent;
    margin: auto;
    display: block;
    border: none;
    cursor: pointer;
}

#dailyBtn {}

#statpanel {
    margin-top: 18px;
    border-style: ridge;
    border-width: thick;
    border-color: darkgray;
    border-radius: 5px;
    background: blue;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, blue, black);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, blue, black);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, blue, black);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(bottom right, blue, black);
}


#stats {
    width: 100%;
}

#stats td {
    padding: 5px 5px 5px 20px;
}

#wtf {
    float: right;
    display: inline;
    padding 0;
    margin: 0;
    border-bottom: thick ridge darkgray;
    border-radius: 5px;
    padding-bottom: 20px;
}

#myLevel {
    display: table;
    width: 100%;
    background: red;
    margin-bottom: .25em;
}

#levelBar {
    width: 1%;
    height: 30px;
    background-color: green;

}

.stats {
    margin: 0;
    display: inline;
}
